.App {
  text-align: center;
  background-image: url('./components/styles/publico2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
}

.atacado {
  animation: atacado 0.2s ease 0.1s 8;
}

@keyframes atacado {
    from {
        background-color: rgba(255, 255, 255, 0.747);
    }
    to {        
        background-color: rgba(255, 255, 255, 0.219);
    }
}